@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@media only screen and (min-width: 501px) {
    .mobile{
        display: none;
    }
    .noMobile{
        display: flex;
    }
}

@media only screen and (max-width: 500px) {
    .noMobile{
        display: none;
    }
}